ty_game_lib/.idea/.idea.ty_game_lib/.idea/contentModel.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/encodings.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/indexLayout.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/modules.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/projectSettingsUpdater.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/lib_test.csproj.nuget.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/lib_test.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/ty_game_lib.csproj.nuget.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/ty_game_lib.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]/lib_test.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]/ty_game_lib.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]1/lib_test.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]1/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]1/ty_game_lib.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20__3_45___Default_Changelist_.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20__3_53___Default_Changelist_.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20__3_53___Default_Changelist_1.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_7_6_20,_9_33_上午_[Default_Changelist]/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_7_6_20__9_33___Default_Changelist_.xml
ty_game_lib/.idea/.idea.ty_game_lib/.idea/vcs.xml
ty_game_lib/.idea/.idea.ty_game_lib/riderModule.iml
ty_game_lib/collision_and_rigid/collision_and_rigid.csproj
ty_game_lib/collision_and_rigid/obj/Debug/net45/collision_and_rigid.AssemblyInfo.cs
ty_game_lib/collision_and_rigid/obj/Debug/net45/collision_and_rigid.AssemblyInfoInputs.cache
ty_game_lib/collision_and_rigid/obj/Debug/net45/collision_and_rigid.assets.cache
ty_game_lib/collision_and_rigid/obj/Debug/net45/collision_and_rigid.csproj.CoreCompileInputs.cache
ty_game_lib/collision_and_rigid/obj/Debug/net45/collision_and_rigid.csproj.FileListAbsolute.txt
ty_game_lib/collision_and_rigid/obj/Debug/net45/collision_and_rigid.csprojAssemblyReference.cache
ty_game_lib/collision_and_rigid/obj/Debug/netcoreapp3.0/collision_and_rigid.assets.cache
ty_game_lib/collision_and_rigid/obj/Debug/netcoreapp3.1/collision_and_rigid.AssemblyInfo.cs
ty_game_lib/collision_and_rigid/obj/Debug/netcoreapp3.1/collision_and_rigid.assets.cache
ty_game_lib/collision_and_rigid/obj/Debug/netcoreapp3.1/collision_and_rigid.csproj.FileListAbsolute.txt
ty_game_lib/collision_and_rigid/obj/Debug/netstandard2.0/collision_and_rigid.AssemblyInfo.cs
ty_game_lib/collision_and_rigid/obj/Debug/netstandard2.0/collision_and_rigid.assets.cache
ty_game_lib/collision_and_rigid/obj/Debug/netstandard2.0/collision_and_rigid.csproj.FileListAbsolute.txt
ty_game_lib/collision_and_rigid/obj/collision_and_rigid.csproj.nuget.dgspec.json
ty_game_lib/collision_and_rigid/obj/collision_and_rigid.csproj.nuget.g.props
ty_game_lib/collision_and_rigid/obj/collision_and_rigid.csproj.nuget.g.targets
ty_game_lib/collision_and_rigid/obj/project.assets.json
ty_game_lib/collision_and_rigid/obj/project.nuget.cache
ty_game_lib/collision_and_rigid/obj/project.packagespec.json
ty_game_lib/game_config/bin/Debug/netcoreapp3.0/game_config.deps.json
ty_game_lib/game_config/bin/Debug/netcoreapp3.0/game_config.dll
ty_game_lib/game_config/bin/Debug/netcoreapp3.0/game_config.pdb
ty_game_lib/game_config/bin/Debug/netstandard2.0/game_config.deps.json
ty_game_lib/game_config/bin/Debug/netstandard2.0/game_config.dll
ty_game_lib/game_config/bin/Debug/netstandard2.0/game_config.pdb
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.AssemblyInfo.cs
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.AssemblyInfoInputs.cache
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.assets.cache
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.csproj.CoreCompileInputs.cache
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.csproj.FileListAbsolute.txt
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.csprojAssemblyReference.cache
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.dll
ty_game_lib/game_config/obj/Debug/netcoreapp3.0/game_config.pdb
ty_game_lib/game_config/obj/Debug/netcoreapp3.1/game_config.assets.cache
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.AssemblyInfo.cs
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.AssemblyInfoInputs.cache
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.assets.cache
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.csproj.CoreCompileInputs.cache
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.csproj.FileListAbsolute.txt
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.csprojAssemblyReference.cache
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.dll
ty_game_lib/game_config/obj/Debug/netstandard2.0/game_config.pdb
ty_game_lib/game_config/obj/game_config.csproj.nuget.g.props
ty_game_lib/game_config/obj/game_config.csproj.nuget.g.targets
ty_game_lib/game_config/obj/project.assets.json
ty_game_lib/game_config/obj/project.nuget.cache
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.0/game_config.dll
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.0/game_config.pdb
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/collision_and_rigid.dll
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/collision_and_rigid.pdb
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/game_config.dll
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/game_config.pdb
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/game_stuff.deps.json
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/game_stuff.dll
ty_game_lib/game_stuff/bin/Debug/netcoreapp3.1/game_stuff.pdb
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/collision_and_rigid.dll
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/collision_and_rigid.pdb
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/game_config.dll
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/game_config.pdb
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/game_stuff.deps.json
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/game_stuff.dll
ty_game_lib/game_stuff/bin/Debug/netstandard2.0/game_stuff.pdb
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.0/game_stuff.assets.cache
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.0/game_stuff.csprojAssemblyReference.cache
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.AssemblyInfo.cs
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.assets.cache
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.csproj.CopyComplete
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.csproj.CoreCompileInputs.cache
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.csproj.FileListAbsolute.txt
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.csprojAssemblyReference.cache
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.dll
ty_game_lib/game_stuff/obj/Debug/netcoreapp3.1/game_stuff.pdb
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.AssemblyInfo.cs
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.assets.cache
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.csproj.CopyComplete
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.csproj.CoreCompileInputs.cache
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.csproj.FileListAbsolute.txt
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.csprojAssemblyReference.cache
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.dll
ty_game_lib/game_stuff/obj/Debug/netstandard2.0/game_stuff.pdb
ty_game_lib/game_stuff/obj/game_stuff.csproj.nuget.dgspec.json
ty_game_lib/game_stuff/obj/game_stuff.csproj.nuget.g.props
ty_game_lib/game_stuff/obj/game_stuff.csproj.nuget.g.targets
ty_game_lib/game_stuff/obj/project.assets.json
ty_game_lib/game_stuff/obj/project.nuget.cache
ty_game_lib/game_stuff/obj/project.packagespec.json
ty_game_lib/lib_test/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
ty_game_lib/lib_test/bin/Debug/netcoreapp3.0/System.Collections.Immutable.dll
ty_game_lib/lib_test/bin/Debug/netcoreapp3.0/game_config.dll
ty_game_lib/lib_test/bin/Debug/netcoreapp3.0/game_config.pdb
ty_game_lib/lib_test/obj/Debug/netcoreapp3.0/lib_test.assets.cache
ty_game_lib/lib_test/obj/Debug/netcoreapp3.0/lib_test.csprojAssemblyReference.cache
ty_game_lib/lib_test/obj/lib_test.csproj.nuget.dgspec.json
ty_game_lib/lib_test/obj/lib_test.csproj.nuget.g.props
ty_game_lib/lib_test/obj/project.assets.json
ty_game_lib/lib_test/obj/project.nuget.cache
ty_game_lib/lib_test/obj/project.packagespec.json
ty_game_lib/ty_game_lib.sln.DotSettings.user
ty_game_lib/ty_game_lib/bin/Debug/netcoreapp3.0/ty_game_lib.deps.json
ty_game_lib/ty_game_lib/bin/Debug/netcoreapp3.0/ty_game_lib.dll
ty_game_lib/ty_game_lib/bin/Debug/netcoreapp3.0/ty_game_lib.pdb
ty_game_lib/ty_game_lib/obj/Debug/netcoreapp3.0/ty_game_lib.csproj.FileListAbsolute.txt
ty_game_lib/ty_game_lib/obj/Debug/netcoreapp3.0/ty_game_lib.dll
ty_game_lib/ty_game_lib/obj/Debug/netcoreapp3.0/ty_game_lib.pdb
ty_game_lib/ty_game_lib/obj/project.nuget.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/lib_test.csproj.nuget.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/lib_test.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/ty_game_lib.csproj.nuget.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_45_下午_[Default_Changelist]/ty_game_lib.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]/lib_test.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]/ty_game_lib.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]1/lib_test.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]1/shelved.patch
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_6_12_20,_3_53_下午_[Default_Changelist]1/ty_game_lib.csprojAssemblyReference.cache
ty_game_lib/.idea/.idea.ty_game_lib/.idea/shelf/Uncommitted_changes_before_Update_at_7_6_20,_9_33_上午_[Default_Changelist]/shelved.patch
codeStyleConfig.xml
.gitignore
